.footer 
  {
    position: absolute;
    background-color: #6a6e74;
    bottom: 0px;
    width: 100%;
    border: none;
    z-index: -1;
    padding-top:7vh;
    padding-bottom: 1.5vh;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    color: white;
    height: 8%;
  }

  .footer .center 
    {
      padding-top: 4vh;
      margin-bottom: 0px;
      display: flex;
      flex-direction: column;
    }

  .footer .right
   {
    display: flex;
    flex-direction: column;
    gap: 0.01px;
    
    }
  .footer .right .reseau
  {
    display: flex;
    justify-content: space-around;
    gap: 5vw;
  }

  .e
  {
    color:rgb(114, 4, 4);
    font-size:30px;
    font-weight: bold;
  }
  .phata
  {
    font-size: small;
  }
  





