/* .navbar
    {
        
        display: flex;
        box-sizing: border-box;
        background-color: #6a6e74;
        width: 100%;
        padding:0;
        text-align: end;
        align-items: centender;
          justify-content: end;
          border: 1px solid grey;
  
    }
.image:hover{
    cursor: auto;
    background-color: rgb(207, 201, 201);
    padding: 5px;
    border-radius: 100%;
}
.navbar .nav-link ul
{
    display: flex;
    
}

.navbar .nav-link ul li
  {
      margin:   0 25px;
      list-style: none;
      display:inline-block;
      
  }

.navbar .nav-link a
    {
        color: rgb(238, 235, 235);
        font-family: 'rajdhani';
        font-size: 22px;
        text-decoration: none;
        font-family: 'Arial Narrow';
        font-size: 22px;
        padding: 4px;
        border-radius: 5px;
        
    }
.navbar .nav-link a:hover
    {
        text-decoration: underline;
        color:rgb(38, 112, 9);
        cursor: grab;
        font-family: 'Arial Narrow';
        font-size: 22px;
        transition: 1s; 
        transform: scale(1.3);
        
        padding: 4px;
        border-radius: 5px;
    }
 */





 
 
 .navbar{
    background: rgb(114, 138, 138);
    
    
    height: 101.36vh;
     margin-top: -10vh; 
    width: 20%;
     justify-content:center;
     
 }
 .logo:hover
{
    -webkit-filter: invert(4%)sepia(100%)saturate(1600%)hue-rotate(352deg)brightness(100%)contrast(104%);
    filter:invert(4%)sepia(100%)saturate(1600%)hue-rotate(352deg)brightness(109%)contrast(104%); 
}
 ul{
    display: flex;
    flex-direction: column; 
    list-style-type: none;
    gap:40px;
    margin-top: 2vh;
    padding:5%;
    text-decoration: none;
   
 }
 
li{
    
    color:beige;
    text-transform: uppercase;
    text-decoration-line: none;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    
}
li a{
    
    color:beige;
    text-transform: uppercase;
    text-decoration-line: none;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    
}
li a:hover{
    
    color:blue;
    text-transform: uppercase;
    text-decoration-line: none;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    
}
.logo{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-left: 3vw;
    
}
