
.formulaireajoutabsence{
    width: 40%;
    height: 50%;
    margin-left: 20%;
    margin-top:12vh;
    
}
.formulaireajoutabsence .contenu{
    
    background: radial-gradient(#bed5f8,transparent);
    margin-top: 2vh;
    padding: 10%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    font-weight: bold;
    border: 1px solid black;
}
.titreformajoutabsence{
    color: rgb(11, 52, 129);
    font-family: 'Arial Narrow';
    text-align: center;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
}
.contenudatedebutformajoutabsence{
    display: flex;
    gap: 1vw;
    margin-top: 2vh;
}
.contenudatefinformajoutabsence{
    display: flex;
    gap: 1vw;
    margin-top: 2vh;
}
.contenudureformabsence{
    display: flex;
    margin-top: 2vh;
}
.inputdureeformabsence{
    border-radius: 5px;
    margin-left: 0.3vw;
}
.contenumotifformabsence{
    display: flex;
    gap: 0.4vw;
    margin-top: 2vh;
}
.contenubtnabsenceform{
    display: flex;
    margin-top: 5vh;
    gap: 0.3vw;
    margin-left: 20vw;
    
}
.btnsaveabsenceform{
    background-color: rgb(60, 121, 190);
    border: none;
    color: blanchedalmond;
    padding: 6px;
    border-radius: 4px;
}
.annulerbtnabsenceform{
    background-color: rgb(101, 102, 101);
    
    padding: 6px;
    border-radius: 4px;
    border: none;
}
.lienbtnannulerabsenceform{
    margin-top: 12px;
    text-decoration: none;
    color: blanchedalmond;
    
    text-align: center;
}